<!DOCTYPE html>
<html lang="en">
<head>
      <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1,maximum-scale=1" />

      <script src="js/pure-swipe.js"></script>
      <script src="js/swipe.js"></script>
      <script src="js/settings.js"></script>
      <script src="js/timer.js"></script>


      <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="container">
  <div id="header">
    <div id="startbtn">START</div>
    <div id="totaltime">
      00:00:00
    </div>
    <div id="pausebtn">
      PAUSE
    </div>
  </div>

  <div class="page">
    <div class="excercise"></div>
    <div class="timer">
        START
    </div>
    <div class="set"></div>
  </div>

  <div id="settingspanel">
    <div class="setting">
      <div class="settingtitle">
        SWITCH DURATION:
      </div>
      <input id="switchdursec" placeholder="MIN" oninput="if(this.value.length>this.maxLength)this.value=this.value.slice(0,this.maxLength);" type = "number" maxlength = "2">
      <input id="switchdurmin" placeholder="SEC" oninput="if(this.value.length>this.maxLength)this.value=this.value.slice(0,this.maxLength);" type = "number" maxlength = "2">
    </div>
    <div class="setting">

      <div class="settingtitle">
        SET DURATION:
      </div>
      <input id="setdursec" placeholder="MIN" oninput="if(this.value.length>this.maxLength)this.value=this.value.slice(0,this.maxLength);" type = "number" maxlength = "2">
      <input id="setdurmin" placeholder="SEC" oninput="if(this.value.length>this.maxLength)this.value=this.value.slice(0,this.maxLength);" type = "number" maxlength = "2">
    </div>
  </div>

  <div id="footer">
    <div id="switchbtn">
      SWITCH
    </div>
    <div id="settingsbtn">
      <img src="assets/settings.svg">
    </div>
    <div id="setbtn">
      SET
    </div>
  </div>
</div>




</body>
</html>