body {
    background-color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    user-select: none;
    overflow: hidden;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    99.9999% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

#container {
    width: 200vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
    #header, #settingspanel, #footer {
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
        height: 7.5vh;
        max-height: 100px;
        width: 100vw;
        z-index: 1;
        font-weight: 600;
        letter-spacing: 1px;
        }
        #header {
            top: 0;
        }
            #header>div {
                position: relative;
                float: left;
                height: 100%;
                text-align: center;
                vertical-align: auto;
                line-height: 7.5vh;
            }
                #startbtn {
                    width: 30vw;
                }
                #pausebtn {
                    width: 30vw;
                    filter: opacity(40%);
                }
                #totaltime {
                    width: 40vw;
                }
        #settingspanel {
            bottom: 7.5vh;
            height: 15vh;
            max-height: 200px;
            background-color: rgba(255, 255, 255, 0.15);
            visibility: hidden;
        }
            .setting {
                height: 7.5vh;
                max-height: 100px;
                vertical-align: auto;
                line-height: 7.5vh;
            }
                .settingtitle {
                    margin-left: 40px;
                    float: left;
                }
                .setting>input {
                    float: right;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-top: 2.25vh;
                    height: 3vh;
                    width: 10vw;
                    border: 0;
                    text-align: center;
                }
                    #switchdurmin, #setdurmin {
                        margin-right: 10px;
                    }
                    #switchdursec, #setdursec {
                        margin-right: 40px;
                    }
                *:focus{
                    outline: none;
                }

        #footer {
            bottom: 0;
        }
            #footer>div {
                position: relative;
                float: left;
                height: 100%;
                text-align: center;
                vertical-align: auto;
                line-height: 7.5vh;
            }
                #switchbtn, #setbtn {
                    width: 35vw;
                }
                #settingsbtn {
                    width: 30vw;
                }
                    #settingsbtn>img {
                        height: 40%;
                        max-height: 60px;
                        margin-top: 2.4vh;
                    }

.page {
    z-index: -1;
    float: left;
    width: 100vw;
    height: 100vh;
    background-color:#A8C7FF;
    /*box-shadow: inset 0px 0px 15px 0px #000000;*/
}
.page>div {
    position: absolute;
    text-align: center;
    width: 100vw;
}
    .excercise {
        height: 10vw;
        font-size: 5vw;
        margin-top: calc(50vh - 22.5vw);
        vertical-align: auto;
        line-height: 10vw;
    }
    .timer {
        font-size: 22vw;
        font-weight: 500;
        margin-top: calc(50vh - 12.5vw);
        height: 25vw;
        vertical-align: auto;
        line-height: 25vw;
    }
    .set {
        height: 10vw;
        font-size: 5vw;
        margin-top: calc(50vh + 12.5vw);
        vertical-align: auto;
        line-height: 10vw;
    }