<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="stylesheet" href="style.css">

  <script src="timer.js"></script>
  <script src="touch.js"></script>
</head>
<body>

<div id="header">
  <div id="startbtn">
    START
  </div>
  <div id="totaltime">
    00:00:00
  </div>
  <div id="pausebtn">
    PAUSE
  </div>
</div>

<div id="timer">
  START
</div>
<div id="sets"></div>


<div id="footer">
  <div id="switchbtn">
    SWITCH
  </div>
  <div id="settingsbtn">
    <img src="assets/settings.svg">
  </div>
  <div id="setbtn">
    SET
  </div>
</div>

</body>
</html>